.button__next {
	margin-top: 1em;
	background: blue;
	padding: 15px;
	width: 75px;
	color: white;
}

button[disabled] {
	background: gray;
	color: black;
}

.logout {
	position: absolute;
	bottom: 28%;
	right: 2%;
}