.choices.ng-enter, .choices.ng-move {
  transition: 1.5s linear all;
  opacity: 0;
}

.choices.ng-enter.ng-enter-active,
.choices.ng-move.ng-move-active {
  opacity:1;
}

.choices.ng-leave {
  animation: 1.5s animation;
}

@keyframes animation {
  from {
     opacity: 1; 
  }
  to {
    opacity: 0;
  }
}