<div class="container text-center eoquiz">
	
		<h1>End of the quiz!</h1>

		<h3>You answered these {{ eo.totalCorrect }} questions correctly: </h3>

		<ul>
			<li class="scores q-is-correct" ng-repeat="score in eo.correctObj.questions track by $index">
				{{score}} <span class="a-is-correct">{{eo.correctObj.answers[$index]}}</span>
			</li>
			
				
			
		</ul>

		<h3>You answered these {{ eo.totalIncorrect }} questions incorrectly: </h3>

		<ul>
			<li class="scores q-is-incorrect" ng-repeat="score in eo.incorrectObj.questions track by $index">
				{{score}} <span class="a-is-incorrect">{{eo.incorrectObj.userAnswers[$index]}}</span> 
				<div class="eoq-answer-container">
					<span class="black-text">The correct answer was:</span> <span class="a-is-correct">{{eo.incorrectObj.answers[$index]}}</span>
				</div>
				<hr>
			</li>
		</ul>

</div>
