<div class="main">

<h2>{{quiz.question}}</h2>
<ul>
	<li ng-repeat="choice in quiz.choices" class="choices" ng-click="quiz.setSelection(choice)" ng-class="{active: quiz.isActive(choice)}">{{choice}}</li>
</ul>

<button class="button__next" ng-disabled="quiz.hasMadeAChoice()" ng-click="quiz.addQuestion()">add</button>

<h2 ng-show="quiz.hasAnsweredOnce()">You answered {{quiz.totalCorrectAnswers}} correctly!</h2>

<ul ng-show="quiz.hasAnsweredOnce()">
	<li ng-repeat="answer in quiz.correctAnswersArr">
		{{answer}}
	</li>
</ul>

</div>