<div class="container">

	<form class="login-form" name="myform" ng-submit="register()" novalidate>

		<h1>Register</h1>
		<h3>To access all features of the quiz</h3>

		<p ng-show="message">{{ message }}</p>

		<label for="name">Name</label>
		<input type="firstname" name="firstname" id="name" ng-model="user.firstname" ng-required="true"><br>
		<p ng-show="myform.firstname.$invalid && myform.firstname.$touched">First name is required</p>
		
		<label for="username">Username</label>
		<input type="username" name="lastname" id="username" ng-model="user.username" ng-required="true"><br>
		<p ng-show="myform.username.$invalid && myform.username.$touched">Username is required</p>

		<label for="email">Email</label>
		<input type="email" name="email" id="email" ng-model="user.email" ng-required="true"><br>
		<p ng-show="myform.email.$invalid && myform.email.$touched">A valid email address is required</p>

		<label for="password">Password</label>
		<input type="password" name="password" id="password" ng-model="user.password" ng-required="true"><br>
		<p ng-show="myform.password.$invalid && myform.password.$touched">A valid password is required</p>

		<button type="submit" class="btn btn-default"
      ng-disabled="myform.$invalid">Register</button>
    <p>or <a href="#/login">login</a></p>

	</form>
</div>