body {
  background: #666;
  padding: 0;
  margin: 0; }

ul, ol {
  list-style-type: none; }

header {
  height: 100px;
  text-align: center;
  background: #336699;
  line-height: 100px;
  color: #999; }
  header h1 {
    margin-top: 0; }

.main {
  width: 600px;
  margin: 4em auto 0;
  background: #eee;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 0 gray; }

.choiceSelection {
  background: green; }

.choices.ng-enter, .choices.ng-move {
  transition: 1.5s linear all;
  opacity: 0; }

.choices.ng-enter.ng-enter-active, .choices.ng-move.ng-move-active {
  opacity: 1; }

.choices.ng-leave {
  animation: 1.5s animation; }

@keyframes animation {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

.navigation {
  list-style-type: none;
  text-align: center;
  background: green;
  height: auto; }
  .navigation li {
    display: inline;
    padding: 15px;
    background: yellow; }
