/* line 1, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
body {
  background: #666;
  padding: 0;
  margin: 0; }

/* line 7, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
ul, ol {
  list-style-type: none; }

/* line 11, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
header {
  height: 100px;
  text-align: center;
  background: #336699;
  line-height: 100px;
  color: #999; }
  /* line 17, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
  header h1 {
    margin-top: 0; }

/* line 22, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
.main {
  width: 600px;
  margin: 4em auto 0;
  background: #eee;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 0 gray; }

/* line 31, c:/Users/johan/desktop/angularquiz/builds/components/sass/_main.scss */
.choiceSelection {
  background: green; }

/* line 1, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
.choices.ng-enter, .choices.ng-move {
  transition: 1.5s linear all;
  opacity: 0; }

/* line 8, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
.choices.ng-enter-stagger, .choices.ng-leave-stagger, .choices.ng-move-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transition-duration: 0;
  transition-duration: 0; }

/* line 16, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
.choices.ng-enter.ng-enter-active, .choices.ng-move.ng-move-active {
  opacity: 1; }

/* line 20, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
.choices.ng-leave {
  animation: 1.5s animation; }

@keyframes animation {
  /* line 25, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
  from {
    opacity: 1; }

  /* line 28, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/animations.scss */
  to {
    opacity: 0; } }

/* line 1, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/navbar.scss */
.navigation {
  list-style-type: none;
  text-align: center;
  background: green;
  height: auto; }
  /* line 6, c:/Users/johan/desktop/angularquiz/builds/components/sass/modules/navbar.scss */
  .navigation li {
    display: inline;
    padding: 15px;
    background: yellow; }
