body {
	background: #63DFB9;
	padding: 0;
	margin: 0;
	font-family: $font-main;
}

ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: tomato;
}

header {
	height: 100px;
	text-align: center;
	background: $blue;
	line-height: 100px;
	color: $gray-light;
	h1 {
		margin-top: 0;
	}
}

.main {
	width: 800px;
	margin: 0 auto;
	background: #F4FF57;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 0 gray;
	@extend %clearfix;
	h2 {
		text-align: center;
	}

}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
}